/* Colors */
/* Responsive */
/* maxwidth */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 1s;
}

.seccionFluida {
  background-image: url(../src/assets/fondo.jpg);
  width: 100%;
}

.contenedor {
  width: 100%;
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-auto-rows: auto;
  margin: 0 auto;
  color: white;
  /* Media Querys */
}

.contenedor .contenido {
  grid-column: 2;
  padding: 20px 0px;
}

.contenedor .contenido h1 {
  align-self: center;
  justify-self: center;
}

.contenedor .contenido p {
  align-self: center;
  justify-self: center;
}

@media only screen and (max-width: 575.98px) {
  .contenedor {
    background-color: #154C75;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .contenedor {
    background-color: #2B91B5;
    max-width: 540px;
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  .contenedor {
    background-color: #939393;
    max-width: 720px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .contenedor {
    background-color: green;
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .contenedor {
    background-color: orange;
    max-width: 1140px;
  }
}

.noFondo {
  background-color: transparent;
}

.dosColumnas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

.dosColumnas .columnaUno {
  grid-column: 1;
}

.dosColumnas .columnaDos {
  grid-column: 2;
}

.tresColumnas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.tresColumnas .columnaUno {
  grid-column: 1;
}

.tresColumnas .columnaDos {
  grid-column: 2;
}

.tresColumnas .columnaTres {
  grid-column: 3;
}

footer .contenido {
  align-self: center;
  justify-self: center;
  grid-column: 2;
}
