@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 1s;
}

.seccionFluida {
  background-image: url(../src/assets/fondo.jpg);
  width: 100%; 
}

.contenedor{
  width: 100%;
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-auto-rows: auto;
  margin: 0 auto;
  color: white;

  .contenido{
    grid-column: 2;
    padding: 20px 0px;
    h1 {
      align-self: center;
      justify-self: center;
    }
    p {
      align-self: center;
      justify-self: center;
    }  
  }
  
  
  /* Media Querys */
  
  @include Asmall() {
    background-color: $deg-uno;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  @include smallTablet() {
    background-color: $deg-dos;
    max-width: $mWtablet;
  }
  
  @include tabletLaptop() {
    background-color: $gray-tres;
    max-width: $mWlaptop;
  }
  
  @include laptopDesktop() {
    background-color: green;
    max-width: $mWdesktop;
  }
  
  @include desktopFull() {
    background-color: orange;
    max-width: $mWfull;
  }
}

.noFondo{
  background-color: transparent;
}

.dosColumnas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
    .columnaUno{
      grid-column: 1;
    }
    .columnaDos{
      grid-column: 2;
    }  
}

.tresColumnas{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
    .columnaUno{
      grid-column: 1;
    }
    .columnaDos{
      grid-column: 2;
    }  
    .columnaTres{
      grid-column: 3;
    }  
}

footer .contenido{
  align-self: center;
  justify-self: center;
  grid-column: 2;
}