.panel {
    display: grid;
    grid-column: 1fr;
    margin-top: 20px;
    font-family: monserratBold;
}

::ng-deep .box {
    text-align: center !important;
    opacity: 1 !important;
    font-size: 13px !important;
}

::ng-deep .box1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #00000061;
    border-left: 1px solid #00000061;
    border-right: 1px solid #00000061;
    border-radius: 5px 5px 0px 0px;
}

::ng-deep .box-desc {
    text-align: left;
    padding: 2px 8px;
}

::ng-deep .box-info {
    text-align: right;
    padding: 2px 8px;
    font-weight: bold;
}

::ng-deep .box2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-left: 1px solid #00000061 !important;
    border-right: 1px solid #00000061 !important;
}

.box3 {
    display: grid;
    grid-template-columns: 1.15fr 0.85fr;
    border: 1px solid #00000061;
    border-radius: 0px 0px 5px 5px;
    align-items: center;
}

.key_up {
    grid-column: 2;
    align-items: flex-start;
}

.text-show-plus {
    grid-column: 1;
    text-align: right;
}