<form #gaesForm="ngForm" (keydown.enter)="$event.preventDefault()">
    <app-process-request *ngIf="startRequest" [inputCalculoCuota]="calculadora.getDataResponse()" [inputDataRequest]="calculadora.getDataRequest()" [startRequest]="startRequest" (outputCancelRequest)="cancelRequest()">
    </app-process-request>
    <div class="superContenedor animated fadeIn fast">

        <section id="hero" class="seccionFluida fondoImagen doNotPrint">

            <div class="contenedor contenedorsEncabezado doNotPrint">
                <div class="contenido sEncabezado">FINANCIA EL DISPOSITIVOS CON GAES Y EL BANCO SANTANDER
                </div>
            </div>

            <div class="seccionFluida fondoBlanco printOk">
                <div class="contenedor contenedorfondoBlanco">
                    <div class="contenido logos">

                        <img class="printOk" src="../../../assets/img/LogoGaes.png">
                        <img class="printOk" src="../../../assets/img/logoSantander.png">

                        <div class="logoGaes fondoLogo"></div>
                        <div class="logoSantander fondoLogo"></div>

                        <a class="buttonHelp doNotPrint" [routerLink]="['/ayuda']">
                            <button class="buttonAyuda">
                                <div class="itemButton">
                                    <i class="fa fa-question-circle"></i>
                                    <p class="bigTitle">AYUDA</p>
                                </div>
                            </button>
                        </a>
                    </div>

                </div>
            </div>


            <div class="contenedor textoHero doNotPrint" (click)="magicClick()">
                <div class="contenido cuatroColumnas">

                    <div class="columnaUno">
                        <h1>FINANCIA EL DISPOSITIVO<br class="noDesk"> DE TU PACIENTE</h1>
                        <p class="parrafo">
                            GAES es una compañía multinacional líder en el sector de la corrección auditiva, lleva 70 años diseñando (I+D), produciendo, distribuyendo y comercializando audífonos para todas las personas con dificultades auditivas.
                        </p>
                    </div>
                </div>
            </div>

        </section>

        <!-- Encabezado -->

        <section id="calculadora">
            <app-calculadora (outputOnPrint)="onPrint()" (outputOpenSolicitud)="openSolicitud()" (enableStarRequest)="enableStartRequest($event)" [diferencia]="diferencia" [showAge]="showAge" [showInputs]="showInputs" [intereses]="intereses">

            </app-calculadora>
        </section>


        <section class="seccionFluida">
            <div class="contenido">
                <div class="cntPie printOk">
                    <p class="small printOk">Copyright © 2019, Banco Santander</p>
                </div>
            </div>
        </section>
    </div>
</form>