<div class="superContenedor animated fadeIn fast">

    <section id="hero" class="seccionFluida fondoImagen">

        <div class="contenedor contenedorsEncabezado">
            <div class="contenido sEncabezado">FINANCIA EL DISPOSITIVOS CON GAES Y EL BANCO SANTANDER</div>
        </div>

        <div class="seccionFluida fondoBlanco">
            <div class="contenedor contenedorfondoBlanco">
                <div class="contenido logos">

                    <div class="logoGaes fondoLogo"></div>
                    <div class="logoSantander fondoLogo"></div>

                    <a class="buttonHelp doNotPrint" [routerLink]="['/home']">
                        <button class="buttonAyuda">
                            <div class="itemButton">
                                <p class="bigTitle">Volver</p>
                            </div>
                        </button>
                    </a>
                </div>

            </div>
        </div>

        <div class="contenedor textoHero">
            <div class="contenido cuatroColumnas">

                <div class="columnaUno">
                    <h1>FINANCIA EL DISPOSITIVO<br class="noDesk"> DE TU PACIENTE</h1>
                    <p class="parrafo">
                        GAES es una compañía multinacional líder en el sector de la corrección auditiva, lleva 70 años
                        diseñando
                        (I+D), produciendo, distribuyendo y comercializando audífonos para todas las personas con
                        dificultades
                        auditivas.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <section class="contenedor">
        <div class="contenido">
            <div class="titleManSol">
                <h1 class="bigTitle3">Manual de solicitud</h1>
                <p class="title">
                    Si tu paciente decide financiar el tratamiento con Santander, sigue los siguientes pasos:
                </p>
            </div>
            <hr>

            <div class="pasos">

                <div class="paso">
                    <div class="parrafo">
                        <p class="textParrafo">
                            1. Pídele que firme el formulario con la autorización de consulta en centrales de
                            riesgo, ya
                            que necesitamos saber su comportamiento en el sistema financiero. El formulario es el
                            siguiente:
                        </p>
                    </div>
                    <div class="imagePaso">
                        <img src="../../../assets/img/formEntrevista.jpg" alt="">
                    </div>
                </div>
                <hr>
                <div class="paso">
                    <div class="parrafo">
                        <p class="textParrafo">
                            2. Haz Clic en el botón iniciar solicitud una vez simules la cuota de tu paciente de la
                            siguiente manera:
                        </p>
                    </div>
                    <div class="imagePaso">
                        <img src="../../../assets/img/sanitastres.png" alt="">
                    </div>
                </div>
                <hr>
                <div class="paso">
                    <div class="parrafo">
                        <p class="textParrafo">
                            3. Ahora, ingresa tus credenciales en el sitio WEB de Experian:
                        </p>
                    </div>
                    <div class="imagePaso">
                        <img src="../../../assets/img/sanitasocho.png" alt="">
                    </div>
                </div>
                <hr>
                <div class="paso">
                    <div class="parrafo">
                        <p class="textParrafo">
                            4. Cuando Ingreses ve a “Mis Productos” y selecciona Dictum:
                        </p>
                    </div>
                    <div class="imagePaso">
                        <img src="../../../assets/img/sanitassiete.png" alt="">
                    </div>
                </div>
                <hr>
                <div class="paso">
                    <div class="parrafo">
                        <p class="textParrafo">
                            5. Una vez seleccionado “Dictum” ingresa el tipo de documento, el número y el apellido
                            de tu
                            paciente, luego, haz clic en consultar:
                        </p>
                    </div>
                    <div class="imagePaso">
                        <img src="../../../assets/img/sanitasseis.png" alt="">
                    </div>
                </div>
                <hr>
                <div class="paso">
                    <div class="parrafo">
                        <p class="textParrafo">
                            6. Ahora diligencia los datos económicos de tu paciente:
                        </p>
                    </div>
                    <div class="imagePaso">
                        <img src="../../../assets/img/sanitascinco.png" alt="">
                    </div>
                </div>
                <hr>
                <div class="paso">
                    <div class="parrafo">
                        <p class="textParrafo">
                            7. Listo! Si tu paciente es “Aprobado” obtendrás una pantalla como la siguiente:
                        </p>
                    </div>
                    <div class="imagePaso">
                        <img src="../../../assets/img/sanitasdos.png" alt="">
                    </div>
                </div>
                <hr>
                <div class="paso">
                    <div class="parrafo">
                        <p class="textParrafo">
                            Tu paciente también puede ser rechazado y deberás informarle únicamente la decisión:
                        </p>
                    </div>
                    <div class="imagePaso">
                        <img src="../../../assets/img/sanitasuno.png" alt="">
                    </div>
                </div>
                <hr>
                <div class="paso">
                    <div class="parrafo">
                        <p class="textParrafo">
                            8. Si tu paciente es aprobado, debes pedirle que diligencie los siguientes documentos
                        </p>
                    </div>
                    <div class="imagePaso">
                        <img src="../../../assets/img/sanitascuatro.png" alt="">
                    </div>
                </div>
                <hr>
                <div class="parrafo margenInferior">

                    <p class="textParrafo">
                        <strong>9.</strong> De acuerdo con la respuesta que el sistema le dé a tu cliente,<br> debes
                        hacer lo siguiente :
                    </p><br>

                    <p class="green">
                        <strong>Si la solicitud fue Aprobada:</strong>
                    </p>
                    <p class="parrafo">
                        Después de enviar los documentos al correo electrónico definido, 15 minutos a que Santander
                        Consumer Finance confirme la aprobación, una vez recibas la confirmación, infórmale a tu
                        paciente que puede iniciar el tratamiento.
                    </p><br>
                    <p class="red">
                        <strong>Si la solicitud fue negada:</strong>
                    </p>
                    <p class="parrafo">
                        Solo debes enviar los documentos y explicarle a tu paciente que la solicitud por el momento
                        no
                        es viable, pero que puede intentarlo pasados tres meses desde la fecha actual.
                    </p><br>
                    <p class="parrafo">
                        <strong>la solicitud fue pre Aprobado sin documentos:</strong><br>
                        Después de enviar el correo electrónico con los documentos firmados por el cliente, deberás
                        esperar una hora para que Santander Consumer Finance te remita una decisión final.
                    </p><br>
                    <p class="parrafo">
                        <strong>la solicitud es pre aprobada con documentos:</strong><br>
                        Deberás solicitar a tu paciente los siguientes documentos adicionales al correo definido.
                    </p><br>
                    <p class="parrafo">
                        <strong>Si tu paciente es empleado:</strong><br>
                        Certificación laboral vigente no mayor a 30 días.<br>
                        Si aplica, certificaciones de sus empleos anteriores para demostrar continuidad laboral de
                        al
                        menos 12 meses,<br>
                        con continuidad de 6 meses en su empleo actual.<br><br>
                    </p>
                    <p class="parrafo">
                        <strong>Pensionados:</strong><br>
                        Resolución de pensión o extractos (últimos tres meses) o desprendibles de pago (últimos tres
                        meses).<br><br>
                    </p>
                    <p class="parrafo">
                        <strong>Independientes:</strong><br>
                        Tu paciente debe anexar su RUT y/o Cámara de Comercio con vigencia no mayor a 30 dias,
                        Declaración de renta y/o extractos bancarios de los últimos tres meses y/o Tarjetas de
                        propiedad
                        con contratos.<br><br>
                    </p>
                    <p class="parrafo">
                        <strong>Si es rentista de capital:</strong><br>
                        Certificados de tradición y libertad (no mayor a 30 días) con contratos.<br><br>
                        Una vez recibas los documentos de tu paciente y los remitas al correo asignado, tendras un
                        respuesta en las próximas horas sobre la solicitud:<br><br>

                        <strong>Si fue aprobada, infórmale a tu paciente que puede iniciar el
                            tratamiento.</strong><br><br>
                        <strong>Si fue negada, explícale que puede intentarlo pasados tres meses desde la fecha
                            actual</strong>
                    </p>


                </div>

            </div>
        </div>
    </section>

    <!-- Part Icons -->
    <section class="seccionFluida tipsVentas">
        <div class="contenedor">
            <div class="contenido">
                <h1>Tips de ventas:</h1>
                <div class="partDosBig">
                    <div class="contDosBig">
                        <div class="item">
                            <embed class="reloj" src="../../../assets/img/reloj.svg">
                            <div class="text">
                                <p class="title">
                                    Sencillo
                                </p>
                                <p class="textContent">
                                    Aprobación inmediata.<br>Obtén una decisión crediticia en instantes,<br>sin papeleo.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <embed class="personal" src="../../../assets/img/personas.svg">
                            <div class="text">
                                <p class="title">
                                    Personal
                                </p>
                                <p class="textContent">
                                    Plazos convenientes y amplia<br>financiación de acuerdo a<br>las necesidades de tu
                                    cliente.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <embed class="martillo" src="../../../assets/img/martillo.svg">
                            <div class="text">
                                <p class="title">
                                    Justo
                                </p>
                                <p class="textContent">
                                    Baja tasa de interés a término fijo,<br>contamos con una amplia red de<br>puntos de
                                    pago.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Finish Part Icons -->

    <section class="contenedor">
        <div class="contenido contenidoContacto">
            <h1>Contacto:</h1><br>
            <p>• Si tienes alguna inquietud puedes comunicarte al:</p><br><br>
                <br>
                <strong>Teléfono: </strong>322 367 0556<br>
                <strong>Celular: </strong>031 742 1502<br>

                <strong>Correo: </strong>consumo@santanderconsumer.co<br><br>
                <small><strong>Santander Consumer Finance</strong></small>
            </p>
        </div>
    </section>

    <section class="seccionFluida">
        <div class="contenido">
            <div class="cntPie printOk">
                <p class="small printOk">Copyright © 2019, Banco Santander</p>
            </div>
        </div>
    </section>
</div>