<div class="contenedor">
    <div id="solicitud" class="contenido contSolicitud">
        <div class="cntOpciones">
            <div class="opcion" *ngFor="let input of cuotasInput">
                <h3>{{input.tittle}}</h3>
                <app-edit-input [data]='input.value'>
                </app-edit-input>
                <div class="btnSeleccionar">
                    <input [id]="input.id" (click)="saveMonto($event.target.value)" name="gama" type="radio" [value]="input.value" [checked]="input.isChecked">
                    <div (click)="saveMonto($event.target.valueAsNumber)">SELECCIONAR</div>
                </div>
            </div>

        </div>
        <!-- </div> -->
        <hr>

        <div class="calcPdos">
            <p class="title">¿En cuántas cuotas desea pagar el dispositivo?</p>

            <div class="contPeriodo">

                <span *ngFor="let radio of cuotasRadio" class="radio">

                        <div *ngIf="diferencia < radio.value || showAge < 18" class="disableOption"></div>

                        <input [id]="radio.id" [(ngModel)]="dataRequest.cantidadCuotas" name="cuota"
                            (ngModelChange)="calcularCuota()"
                            type="radio" [value]="radio.value" [disabled]="diferencia < radio.value || showAge < 18">
                        <div>
                            <div class="numBer">{{radio.tittle}}</div>
                            <div class="mes">meses</div>
                        </div>
                    </span>
            </div>
            <hr>


            <!-- Rango de Anticipo -->


            <div *ngIf="showInputs">
                <p class="title">Porcentaje de cuota inicial</p>

                <div class="fullInputNumber doNotPrint">
                    <mat-form-field appearance="outline">
                        <input matInput [min]="minCuotaInicial" [max]="maxCuotaInicial" name="ctaSlide" #CtainicialSlide="ngModel" type="number" placeholder="Porcentaje de Cuota Inicial" [(ngModel)]="dataRequest.porcentajeCuotaInicial" [disabled]="dataRequest.cantidadCuotas == 36 || dataRequest.valorSolicitado == 0 ? 'disabled' : null"
                            (change)="calcularDescuento(true)">
                    </mat-form-field>
                    <mat-error *ngIf="showErrorDescuento">
                        <small>El valor diligenciado debe ser entre {{minCuotaInicial}} a {{maxCuotaInicial}}</small>
                    </mat-error>
                </div>
            </div>
        </div>

        <div *ngIf="showInputs">
            <div id="cuotaInicial" class="cntAprox">
                <p class="grayParrf">Cuota inicial:</p>
                <h3>{{dataRequest.porcentajeCuotaInicial}}%</h3>
                <div class="tooltip">
                </div>
            </div>
            <hr>
        </div>

        <div id="cuotaInicial" class="cntAprox">
            <p class="grayParrf">Valor cuota inicial:</p>
            <h3 *ngIf="!showSpinner">$ {{dataResponse.cuotaInicial | number:'1.0'}}</h3>
            <mat-spinner diameter="20" *ngIf="showSpinner"></mat-spinner>
            <div class="tooltip">
            </div>
        </div>


        <div class="cntAprox">
            <p class="grayParrf">Cuota aproximada mensual:<br class="noDesk"> (incluye seguro de vida)</p>
            <h3 *ngIf="!showSpinner">$ {{dataResponse.valorCuotaConSeguro | number:'1.0-0'}}</h3>
            <mat-spinner diameter="20" *ngIf="showSpinner"></mat-spinner>
            <div class="tooltip doNotPrint">
                <i class="fa fa-question-circle" (click)="details()"></i>

            </div>

        </div>

        <!-- Detalles -->

        <div class="cntAprox details" *ngIf="showDetails">

            <div *ngIf="showDetailsOne" class="contDetail">
                <p class="grayParrf">Monto a financiar:</p>
                <p class="cifraBlack">$ {{dataResponse.montoAFinanciar | number:'1.0'}}</p>
            </div>

            <div *ngIf="showDetailsOne" class="contDetail">
                <p class="grayParrf">Valor de la cuota sin seguro:</p>
                <p class="cifraBlack">$ {{dataResponse.valorCuotaSinSeguro | number:'1.0'}}</p>
            </div>

            <div *ngIf="showDetailsOne" class="contDetail">
                <p class="grayParrf">Valor del seguro:</p>
                <p class="cifraBlack">$ {{dataResponse.valorTotalSeguro | number:'1.0'}}</p>
            </div>

            <div *ngIf="showDetailsOne" class="contDetail">
                <p class="grayParrf">Cuota mensual del seguro:</p>
                <p class="cifraBlack">$ {{dataResponse.costoMensualSeguro | number:'1.0-0'}}</p>
            </div>

            <div *ngIf="showDetailsOne" class="contDetail">
                <p class="grayParrf">Monto total a financiar:</p>
                <p class="cifraBlack">$ {{dataResponse.montoTotalFinanciamiento | number:'1.0'}}</p>
            </div>

            <div *ngIf="showDetailsOne" class="contDetail">
                <p class="grayParrf">Tasa efectivo anual:</p>
                <p class="cifraBlack">{{dataResponse.tasa * 100}} %</p>
            </div>

            <div *ngIf="showDetailsOne" class="contDetail">
                <p class="grayParrf">Tasa nominal mes vencido:</p>
                <p class="cifraBlack">{{nominalMesVencido}} %</p>
            </div>
        </div>

        <hr class="doNotPrint">

        <div class="cntBotones doNotPrint">
            <button class="btnCta imprimir" (click)="onPrint()" [disabled]="dataRequest.valorSolicitado === 0 || dataRequest.cantidadCuotas === 0 || showAge < 18 || diferencia < 6">
                IMPRIMIR
            </button>
        </div>
        <div class="cntBotones doNotPrint" (click)="openSolicitud()">
            <button class="btnCta" [disabled]="dataRequest.valorSolicitado === 0 || dataRequest.cantidadCuotas === 0 || showAge < 18 || diferencia < 6">
                INICIAR SOLICITUD
            </button>
        </div>


        <div class="cntBotones doNotPrint">
            <a class="ayudaM doNotPrint" [routerLink]="['/ayuda']">
                <button class="btnCta buttonAyuda">
                        <div class="itemButton">
                            <i class="fa fa-question-circle"></i>
                            <p class="bigTitle">AYUDA</p>
                        </div>
                    </button>
            </a>
        </div>

        <hr class="doNotPrint">

        <div class="contCondiciones doNotPrint">
            <p class="title">Condiciones para el cliente:</p>
            <p class="listaItem">
                • Debe tener entre 18 y 75 años<br> • Ganar más de un salario mínimo<br> • El monto mínimo es $800.000<br> • El monto máximo es $20.000.000<br> • Colombiano o residente con visa e historia laboral<br> • Plazo de financiación máximo 12
                meses adicionales a la duración del tratamiento
            </p>
        </div>

        <hr class="doNotPrint">

        <div class="contCondiciones doNotPrint">

            <p class="title">Clientes asalariados:</p>
            <p class="listaItem">• Continuidad laboral mínima de 12 meses.</p>
            <p class="title">Clientes independientes:</p>
            <p class="listaItem">• Antigüedad en la actividad mínima de 12 meses</p>
        </div>
    </div>
</div>