<div class="container">
    <div class="header">
        <div class="logo2">
                <img [src]="const.imagenCliente">            
        </div>
        <div class="logo1">
                <img [src]="const.imagenSantander">           
        </div>
        <div class="title-print">
            Monto solicitado: $ {{calculadoraServicio.respuesta.montoSolicitado | number:'1.0':'es'}}
        </div>
    </div>  
    <div class="plan-pagos">
        <div class="header-plan-pagos">
            Plan de pagos:
        </div>
        <div class="body-plan-pagos">
            <div class="cuota">
                {{calculadoraServicio.respuesta.numeroCuotas}} Pagos
            </div>
            <div class="valor">
                $ {{calculadoraServicio.respuesta.valorCuotaConSeguro | number:'1.0':'es'}} / mes
            </div>
        </div>
    </div>
    <div class="detalles">
        <div class="detalles-header">
            Detalles del prestamo
        </div>
        <hr class="detalles-line">
        <div class="detalles-body">
            <div class="detalles-info">
                <li class="dot-leader">
                        <span class="dot-leader__left">Costo total del seguro:</span>
                        <span class="dot-leader__right">$ {{calculadoraServicio.respuesta.valorTotalSeguro | number:'1.0':'es'}}</span>
                </li>
                <li class="dot-leader">
                        <span class="dot-leader__left">Valor cuota sin seguro:</span>
                        <span class="dot-leader__right">$ {{calculadoraServicio.respuesta.valorCuotaSinSeguro | number:'1.0':'es'}}</span>
                </li>
                <li class="dot-leader">
                        <span class="dot-leader__left">Valor cuota con seguro:</span>
                        <span class="dot-leader__right">$ {{calculadoraServicio.respuesta.valorCuotaConSeguro | number:'1.0':'es'}}</span>
                </li>
                <li class="dot-leader">
                        <span class="dot-leader__left">Cuota mensual del seguro:</span>
                        <span class="dot-leader__right">$ {{calculadoraServicio.respuesta.costoMensualSeguro | number:'1.0':'es'}}</span>
                </li>
                <li class="dot-leader">
                        <span class="dot-leader__left">Monto total a finaciar:</span>
                        <span class="dot-leader__right">$ {{calculadoraServicio.respuesta.montoTotalFinanciamiento | number:'1.0':'es'}}</span>
                </li>
                <li class="dot-leader">
                        <span class="dot-leader__left">Cuatro por mil:</span>
                        <span class="dot-leader__right">{{calculadoraServicio.respuesta.cuatroPorMil | number:'1.0':'es'}}</span>
                </li>
                <li class="dot-leader">
                        <span class="dot-leader__left">Tasa E.A:</span>
                        <span class="dot-leader__right">{{calculadoraServicio.respuesta.tasaEfectivaAnual * 100 | number:'1.0':'es'}} %</span>
                </li>
                <li class="dot-leader">
                        <span class="dot-leader__left">Tasa NMV:</span>
                        <span class="dot-leader__right">{{calculadoraServicio.respuesta.nominalMesVencido * 100 | number:'1.0-2':'es'}} %</span>
                </li>
            </div>
        </div>

    </div>
</div>