
<section id="hero" class="seccionFluida fondoImagen doNotPrint">

    <app-menu></app-menu>

    <div class="contenedor textoHero doNotPrint" (click)="calculadoraServicio.mostrarInputs()">
        <div class="contenido cuatroColumnas">

            <div class="columnaUno">
                <h1>FINANCIA EL DISPOSITIVO<br class="noDesk"> DE TU PACIENTE</h1>
                <p class="parrafo">
                    GAES es una compañía multinacional líder en el sector de la corrección auditiva, lleva 70
                    años
                    diseñando
                    (I+D), produciendo, distribuyendo y comercializando audífonos para todas las personas con
                    dificultades
                    auditivas.
                </p>
                <h1>¡Los 2 primeros meses no pagas nada!</h1>
            </div>
        </div>
    </div>

</section>