.cell {
  border: 2px solid transparent;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: #4CB2DD;

}

.cell:hover {
    cursor: pointer;
    border: 2px dashed #c8c8c8;
    font-size: 20px;
}
