@import '~@angular/material/theming';
@include mat-core();

$nggaes-primary: mat-palette($mat-indigo);
$nggaes-accent: mat-palette($mat-pink, A200, A100, A400);
$nggaes-warn: mat-palette($mat-red);
$nggaes-theme: mat-light-theme($nggaes-primary, $nggaes-accent, $nggaes-warn);
@include angular-material-theme($nggaes-theme);

