<div class="contenedor contenedorsEncabezado doNotPrint">
    <div class="contenido sEncabezado">FINANCIA EL DISPOSITIVOS CON GAES Y EL BANCO SANTANDER
    </div>
</div>

<div class="seccionFluida fondoBlanco printOk">
    <div class="contenedor contenedorfondoBlanco">
        <div class="contenido logos">

            <img class="printOk" [src]="const.imagenCliente">
            <img class="printOk" [src]="const.imagenSantander">

            <div class="logoGaes fondoLogo"></div>
            <div class="logoSantander fondoLogo"></div>

            <a class="buttonHelp doNotPrint" [routerLink]="['/ayuda']">
                <button class="buttonAyuda">
                    <div class="itemButton">
                        <i class="fa fa-question-circle"></i>
                        <p class="bigTitle">AYUDA</p>
                    </div>
                </button>
            </a>
        </div>

    </div>
</div>